#chapters{
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x: hidden;
}

ul {
    padding-left:10px;
}
ul ul{
padding-left:20px;
}

.toc * {
    color: #039be5; /* light-blue darken-1 */
    margin: 0;
}

[role=doc-biblioentry] {
    vertical-align: middle;
    margin-top: 20px;
}

.csl-left-margin {
    color: #0277bd; /* light-blue darken-3 */
}

figure {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
img {
    margin: auto;
    display: block;
}

figcaption {
    text-align:center;
}

table {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
}

pre {
    overflow: scroll;
}

mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
mjx-math {
    margin-top: 5px;
    margin-bottom: 5px;
}
::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
}